---
import Layout from '../layouts/Layout.astro'
import AppVue from '../components/vue/App.vue'
---

<Layout>
  <div class="relative z-10 pointer-events-auto w-full">
    <AppVue client:load />
  </div>
</Layout>
