---
import Layout from '../layouts/Layout.astro'
import ResetPasswordPage from '../components/vue/ResetPasswordPage.vue'
---

<Layout>
  <div class="relative z-10 pointer-events-auto w-full">
    <ResetPasswordPage client:load />
  </div>
</Layout>
